@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-between;
}
.left-links{
  gap: 20px;
  padding-top: 16px;;
  padding-left: 8px;
}

.right-links{
  gap: 20px;
  padding-top: 16px;;
  padding-right: 8px;
}

a {
  text-decoration: none;
}

a:link{
  color: gray;
}

.inner-box{
  align-content: center;
  align-items: center;
}

.content{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.under-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button{
  padding: 8px;
}
.footer{
  display: flex;
  background-color: #eee;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.left-links-footer{
  gap: 20px;
  padding-left: 8px;
}

.right-links-footer{
  gap: 20px;
  padding-right: 8px;
}

